/* Reset */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.3;
}

/* Utilities */

:root {
  --standard-font: 'Source Code Pro', monospace;

  --title-font: 'Underdog', cursive;

  --primary-color: #f77c26;

  --primary-color-o: #f77d2641;
}

body {
  font-family: var(--standard-font);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--title-font);
  /* font-size: 1.7rem; */
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

li {
  color: var(--primary-color);
}

p {
  font-size: calc(.75vw + .35rem);
  color: rgb(0, 0, 0);
}

/* Miscellaneous */

.special {
  color: var(--primary-color);
}

/* Title */

#heading {
  position: absolute;
  top: 3%;
  left: 40%;
  font-family: var(--title-font);
  font-size: calc(1vw + .5rem);
  transition: 900ms ease-in;
}

/* Containers */

#main {
  position: absolute;
  height: 75vh;
  width: 40vw;
  background-color: transparent;
  padding: 40px;
}

#main2 {
  position: absolute;
  height: 92vh;
  width: 50vw;
  background-color: transparent;
  padding: 0px 40px 40px 40px;
}

#main3 {
  position: absolute;
  height: 70vh;
  width: 33vw;
  background-color: transparent;
  padding: 40px;
}

/******************* About Me Section *******************/

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  top: 14%;
  left: 32%;
  transition: 900ms ease-in;
}

/* About Container */

.section1_heading {
  text-align: center;
  margin-bottom: 20px;
  font-size: calc(1vw + .6rem);
}

.icons {
  margin: 15px 0px 15px 0;
  display: flex;
  justify-content: space-evenly;
  width: 50%;
}
.icons a {
  font-size: calc(1vw + 15px);
}

.fab {
  color: #f77c26;
}

.picture {
  height: calc(5vw + 2rem);
  width: calc(5vw + 2rem);
  border-radius: 50%;
  background-image: url('./images/WebsiteSample.jpg');
  background-position: center;
  background-size: cover;
  object-fit: cover;
  float: left;
  shape-outside: circle();
  margin: 0 20px 20px 0px;
}

/* Skills Container */

.container_skills {
  width: 100%;
}

.skills {
  display: flex;
  justify-content: space-around;
}

.languages_heading {
  margin-bottom: 10px;
  font-size: calc(1vw + .6rem);
}

.tools_heading {
  font-size: calc(1vw + .6rem);
  margin-bottom: 10px;
}

.section1_skills {
  text-align: center;
  margin-bottom: 20px;
  font-size:calc(1vw + .6rem);
}

/* Resume Container */


.resume {
  font-size: calc(.70vw + .65rem);
  padding: 10px;
  background-color: var(--primary-color);
  border-radius: 30px;
}

/********************* Projects Sections ********************/

.section2 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  top: 3%;
  right: -100%;
  transition: 900ms ease-in;
}


#projects {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.project {
  height: 170px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.project_info {
  flex-grow: 10;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 2px;
  padding: 0px 15px 0 30px;
}

.project_info-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.project_info-heading {
  margin-top: 10px;
  text-align: center;
}

.project_info ul li p {
  font-size: 0.9rem;
}

img {
  height: 100%;
  border-radius: 10px;
}

/* Project hover */

.contianer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card {
  width: 18vw;
  position: relative;
  height: 100%;
}

.card::before,
.card::after {
  content: '';
  position: absolute;
  opacity: 1;
  transition: transform ease-out 250ms;
}

.card::before {
  top: 1em;
  left: 1em;
  right: 1em;
  border-top: 3px solid var(--primary-color);
  transform: scale(0, 1);
  transform-origin: left;
}

.card::after {
  bottom: 1em;
  left: 1em;
  right: 1em;
  border-bottom: 3px solid var(--primary-color);
  transform: scale(0, 1);
  transform-origin: right;
}

.card:hover::before,
.card:hover::after {
  transform: scale(1, 1);
}

.card__img {
  width: 100%;
  display: block;
  transition: opacity ease-out 250ms;
}

.card:hover .card__img {
  opacity: 0.4;
}

.card__text {
  position: absolute;
  padding: 0 1em;
  color: #fff;
  opacity: 0;
  transition: opacity ease-out 250ms;

  top: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
}

.card:hover .card__text {
  opacity: 1;
}

.card__title {
  font-size: 2rem;
}
.card__body {
  font-size: 2rem;
}

.line {
  background-color: var(--primary-color);
  height: 80%;
  width: 5px;
}

.fas {
  color: var(--primary-color);
}

/************************ Contact Section ***********************/

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 14%;
  left: -100%;
  transition: 900ms ease-in;
  padding: 40px;
}

.contact h1 {
  font-size: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}

label {
  font-family: var(--title-font);
  font-size: 1.3rem;
}

#contact_form {
  display: flex;
  flex-direction: column;
}

.contact_email {
  height: 25px;
  margin-top: 5px;
  border: none;
  border-bottom: solid 2px var(--primary-color);
  font-size: 1.2rem;
}
.contact_email:focus {
  outline: none;
  background-color: var(--primary-color-o);
}

.contact_name {
  height: 25px;
  margin-top: 5px;
  border: none;
  border-bottom: solid 2px var(--primary-color);
  
  font-size: 1.2rem;
}

.contact_name:focus {
  outline: none;
  background-color: var(--primary-color-o);
}

.contact_message {
  border: none;
  border: 2px solid var(--primary-color);
  font-size: 1.2rem;
}

.contact_message:focus {
  outline: solid 2px red;
  background-color: var(--primary-color-o);
}

/******************** Arrows ********************/

/* Right Arrow */

.right-arrow {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  right: 2.5%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 900ms ease-in;
  opacity: 1;
}

.right-arrow h3 {
  font-size: 1.2rem;
  text-align: center;
}

.right-arrow2 {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  right: 2.5%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 900ms ease-in;
  opacity: 1;
}

.right-arrow2 h3 {
  font-size: 1.2rem;
  text-align: center;
}

.clicked {
  transition: opacity 900ms ease-in-out;
  opacity: 0;
}

.fa-arrow-alt-circle-right:hover {
  transition: all 500ms ease-in-out;
  color: #ff6600;
}

/* Left Arrow */

.left-arrow {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 2.5%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 900ms ease-in;
}

.left-arrow h3 {
  font-size: 1.2rem;
  text-align: center;
}


.fa-arrow-alt-circle-left:hover {
  transition: all 500ms ease-in-out;
  color: #ff6600;
}

.left-arrow2 {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 2.5%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 900ms ease-in;
}

.left-arrow2 h3 {
  font-size: 1.2rem;
  text-align: center;
}



/*********************** Media Queries ***************/

@media screen and (max-width: 750px) {
  .picture {
    display: none;
  }
  #main {
    width: 65vw;
  }
  .section1 {
    left: 20%;
  }
  .left-arrow, .left-arrow2, .right-arrow2, .right-arrow {
    font-size: 1.5rem;
  }
  .right-arrow h3, .left-arrow2 h3, .left-arrow h3, .right-arrow2 h3 {
    font-size: .75rem;
  }
}